---
import Layout from '../layouts/Layout.astro';
import Model from '../components/Model.astro';
---

<Layout>
    <div class="absolute top-4 left-4">
        <p class="text-8xl font-bold text-white">building portfolio...</p>
        <a
            class="block text-white hover:text-purple-400"
            href="https://github.com/rdzPedraos"
            target="_blank"
        >
            Go to my github
        </a>

        <a
            class="block text-white hover:text-blue-400"
            href="https://www.linkedin.com/in/rdzpedraos/"
            target="_blank"
        >
            Go to my linkedin
        </a>
    </div>
    <Model />
</Layout>
