---
const { className } = Astro.props;
---

<div class={`flex items-end ${className}`}>
    <p class="brand-color mb-0 text-6xl font-bold">rdz</p>
    <span class="bg-black p-1 text-center text-white">dev</span>
</div>
